<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!--数据库URL -->
		<property name="connection.url">
			jdbc:oracle:thin:@localhost:1521:orcl  <!-- @ip地址  本机地址：localhost   127.0.0.1   192.168.4.79-->
		</property>
		<!--数据库用户 -->
		<property name="connection.username">scott</property>
		<!--数据库用户密码 -->
		<property name="connection.password">123</property>
		<!--数据库JDBC驱动 -->
		<property name="connection.driver_class">
			oracle.jdbc.driver.OracleDriver
		</property>
		<!-- 每个数据库都有其对应的方言(Dialect)以匹配其平台特性 -->
		<property name="dialect">
			org.hibernate.dialect.Oracle10gDialect
		</property>
		<!-- 指定当前session范围和上下文 -->
		<property name="current_session_context_class">thread</property>
		<!-- 是否将运行期生成的SQL输出到日志以供调试 -->
		<property name="show_sql">true</property>
		<!-- 是否格式化SQL -->
		<property name="format_sql">true</property>
		<!-- 映射文件配置，注意文件名必须包含其相对于classpath的全路径 -->
		<mapping class="org.renting.entity.Users" />
		<mapping class="org.renting.entity.District" />
		<mapping class="org.renting.entity.House" />
		<mapping class="org.renting.entity.Street" />
		<mapping class="org.renting.entity.Type" />
	</session-factory>
</hibernate-configuration>